<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="AWSAccessKey" value="YOUR_KEY"/>
    <add key="AWSSecretKey" value="YOUR_KEY"/>
    <add key="AWSRegion" value="eu-central-1"/>
  </appSettings>
</configuration>